@import '~@csstools/normalize.css';


*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}


body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: 0;
}

#nav{
  background-color: #D9D9D9;
  height: 100vh;
  display:grid;
  grid-template-rows: 10vh 30vh 30vh 30vh;
}

#body{
  background-color: white;
  height: 100vh;
}

.navs{
  display: grid;
  grid-template-columns: 1fr;
}